@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@400;700&display=swap"); /* promo */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap"); /* slogan */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap");
html {
  background-color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Nunito", sans-serif;
}
aside {
  display: block;
  background-color: black;
  margin: auto;
  margin-top: -2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
}
aside a {
  color: #fff;
  font-family: "Sofia Sans Condensed", sans-serif;
  text-decoration: none;
}
header a > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 1rem;
}
nav ul {
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 1rem;
  height: 2rem;
}
nav li {
  display: inline-block;
}
nav a {
  color: #101820;
  text-decoration: none;
  margin: 0rem 5rem;
}
nav a:hover {
  color: black;
  text-decoration: underline;
}
.bg {
  background-color: #101820;
  height: 35.063rem;
  color: #fff;
  line-height: 3rem;
  font-family: "Quicksand", sans-serif;
}
.bg > h2,
p {
  width: 20%;
  position: relative;
  top: 45%;
  left: 2%;
}
.bg > p {
  font-weight: 300;
}
.bg > button {
  color: white;
  background-color: #101820;
  padding: 14px;
  position: relative;
  width: 15%;
  top: 30%;
  left: 83%;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  border: 0.025rem solid #eeeeeec5;
}
.bg > button:hover {
  background-color: #fff;
  color: #101820;
  transition: 0.4s;
  text-decoration: underline;
  cursor: pointer;
}
.content {
  display: block;
  height: 50%;
  width: 50%;
  border-radius: 0.25rem;
  box-shadow: 0.313rem 0.313rem 0.313rem rgba(0, 0, 0, 0.486);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
.nBar {
  width: 4.375rem;
  height: 1.063rem;
  border: 0.125rem solid #fff;
  margin: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.nBar:hover {
  background-color: #eeeeee;
}
input {
  /* hidde default input*/
  display: none;
}
.slideShow {
  display: flex;
  width: 400%;
  height: 100%;
}
.slide {
  width: 30%;
  transition: 0.6s;
}
.slide img {
  width: 100%;
  max-width: 150%;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}
#slide2:checked ~ .s1 {
  margin-left: -30%;
}
#slide3:checked ~ .s1 {
  margin-left: -60%;
}
#slide4:checked ~ .s1 {
  margin-left: -90%;
}
/* END OF FIRST CONTAINER */

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

section {
  display: flex;
  grid-template-columns: 32% 32% 32% 32%;
  gap: 2%;
}
article {
  flex: 1;
}
.block1 > h1,
p {
  width: 100%;
  text-align: center;
}
.block1 > h1 {
  font-size: 3.7rem;
  font-weight: 300;
  margin-top: 3rem;
}
.block1 > p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.block2,
.block3,
.block4 > h2 {
  text-align: center;
}
.block2,
.block3,
.block4 {
  position: relative;
  padding: 1.9rem;
  background-color: #101820;
  color: #fff;
  min-height: 80%;
  max-height: 80%;
}
.block2,
.block3,
.block4 > p {
  line-height: 1.9rem;
}
.container img {
  border-radius: 0.3rem;
  max-width: 100%;
}
.block2:hover,
.block3:hover,
.block4:hover {
  background-color: #eeeeee;
  color: #101820;
  transition: 0.4s;
  box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.342);
  max-height: 100%;
  margin-bottom: 10%;
}

.asideOptionsMenu {
  background-color: #101820;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 7rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.asideOptionsMenu div {
  color: #eeeeee;
  padding: 1rem;
  text-align: center;
}
.asideOptionsCC:hover,
.asideOptionsCp:hover,
.asideOptionsCD:hover,
.asideOptionsPrtn:hover {
  background-color: #eeeeee;
  transition: 0.4s;
  color: #101820;
  cursor: pointer;
}

footer {
  display: flex;
  color: #101820;
}
footer div {
  flex: 1;
}
footer img {
  width: 10%;
}
